#background{
  background-color:#dddddd;
  border-radius:10px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  margin-top: 100px;
}
#title{
  padding-top: 30px;
}
#avater{
  width:95%;
  margin-top: 30px;
}
#avater img{
  width:98%;
}
#avater p{
  padding-top:10px;
  line-height:30px;
}

#nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.artside{
  width: 95%;
  background-color:#d1cfcf;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #9b9999;
  margin-top: 30px;
  padding-bottom: 30px;
}
.selfInfo{
  width:95%;
}


